<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<title>Python School</title>
</head>

<body>
	<header class="main-header">
			<div class="line-top"></div>
			<div class="container">
				<div class="group-container">
					<a class="main-header-logo" href="./">
						<img src="/icons/logo.png" alt="Logo-site" width="85px" height="85px">
					</a>
					<h1 class="main-title"><span class="main-title-first-word">python</span> <span class="main-title-second-word">school</span></h1>
					<ul class="main-menu">
						<li class="main-menu-element"><a href="./" class="main-menu-link">home</a></li>
						<li class="main-menu-element"><a href="python_lessons" class="main-menu-link">lessons</a></li>
						<li class="main-menu-element"><a href="https://www.youtube.com/watch?v=cpPG0bKHYKc" class="main-menu-link">videous</a></li>
						<li class="main-menu-element"><a href="https://www.python.org/blogs/" class="main-menu-link">news</a></li>
					</ul>
				</div>
			</div>
	</header>
	<main>
		<div class="container">
		<section class="task">
			<h2 class="task-header task-header">For Loops</h2>
			<p class="task-paragraph">We often want computers to repeat some process several times. Programming languages provide structures that enable you to repeat blocks of instructions over and over again. This type of repetition is known as iteration</p>
      <p class="task-paragraph">There are two types of loop in Python:</p>
      <ul>
        <li><p class="task-paragraph">the <span class="command">for</span> loop</p></li>
        <li><p class="task-paragraph">the <span class="command">while</span> loop</p></li>
      </ul>

      <h3>Examples</h3>
      <p>This simple for loop example would write "hello world" five times:</p>
      <div class="command-examples" >
				<p class="task-paragraph code-examples"> <span class="command">for</span> counter  <span class="specific-command">in</span> range(5):</p>
        <p class="task-paragraph code-examples text-spaces">print("hello world")</p>
      </div>
      <p>The same with <span class="command">while</span>:</p>
      <div class="command-examples" >

        <p class="task-paragraph code-examples">i = 1</p>
        <p class="task-paragraph code-examples"><span class="command">while</span> i <= 5:</p>
        <p class="task-paragraph code-examples text-spaces">print("hello world")</p>
        <p class="code-examples text-spaces">i += 1</p>
      </div>

      <h3>The range function</h3>
      <p>The <span class="code-functions">range()</span> function is one of Python's built in functions. It is is used to indicate how many times the loop will be repeated.</p>
      <p>The structure of the range function is <span class="code-functions">range(start, upto, step)</span> in which the arguments of range are used as follows:</p>
      <ul>
        <li><p>start and step are both optional.</p></li>
        <li><p>upto must always be there, it means "up to but not including" the value.</p></li>
        <li><p>start, upto, and step must all be integers</p></li>
      </ul>
      <div class="command-examples">
        <ul>
          <li><p class="code-examples"><span class="code-functions">range(10)</span> produces the list: [0,1,2,3,4,5,6,7,8,9]</p></li>
          <li><p class="code-examples"><span class="code-functions">range(1, 7)</span> produces the list: [1,2,3,4,5,6]</p></li>
          <li><p class="code-examples"><span class="code-functions">range(0, 30, 5)</span> produces the list: [0,5,10,15,20,25]</p></li>
          <li><p class="code-examples"><span class="code-functions">range(5, -1, -1)</span>  produces the list: [5,4,3,2,1,0]</p></li>
        </ul>
      </div>

      <h3>Instructions</h3>
      <div class="instructions-block">
        <p>Write a loop down from 100 to 0 with a step 10 <b>(0 is not included)</b></p>
      </div>
			<!-- <p class="task-paragraph">Try following example using Try it option available at the top right corner of the below sample code box</p> -->
		</section>
		<section class="code">



			<div class="form-container">

				<form class="code-window-user-form" id="user-window" action="/index/python_lessons_2" method="POST">
					<label class="code-window-user-label" for="user-code">
						<p class="code-window-user-paragraph">You can type code here:</p>
					</label>
					<div id="editor"></div>
					<input id="hidden-input" type="hidden" name="userCodeReq" value="">
					<input type="hidden" name="taskNumber" value="2">
					<!-- <textarea class="code-window-user-text" rows="10" name="" id="code-user-id" ></textarea> -->

				</form>

				<form class="code-window-server-form">
					<label class="code-window-server-label">
						<p class="code-window-server-paragraph">Result:</p>
					</label>

					<textarea class="code-window-server-text" rows="10" name="serverCodeRes" id="code-server-id" disabled="true"><%=userCode%></textarea>

				</form>
			</div>

			<input type="submit" form="user-window" name="userCodeBtn" value="RUN" class="btn">
			<!-- <a href="#" class="btn user-server-btn">run</a> -->
		</section>
		</div>
	</main>

	<footer class="footer-bottom">
		<div class="container">
			<h2 class="visually-hidden">Links</h2>
			<div class="footer-social">
				<ul class="social-list">
					<li class="social-btn">
						<a href="#" class="social-icon inst-icon"><span class="visually-hidden">instagram</span>
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="21" height="21" viewBox="0 0 21 21">
							  <metadata><?xpacket begin="﻿" id="W5M0MpCehiHzreSzNTczkc9d"?>
							<x:xmpmeta xmlns:x="adobe:ns:meta/" x:xmptk="Adobe XMP Core 5.6-c138 79.159824, 2016/09/14-01:09:01        ">
							   <rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
							      <rdf:Description rdf:about=""/>
							   </rdf:RDF>
							</x:xmpmeta>
							<?xpacket end="w"?></metadata>
							<image id="insta-icon" width="21" height="21" xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAQAAAADHm0dAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfhDAsALQLNGTNEAAAAz0lEQVQoz6WTPW7CQBBG31oIRVTmBEnFEcwVfEl3FgdwAZdCGCqnykvhfwPWRplmVvM9zc/uLO4sbFy3xsIdFsZZEWz4IMa+g67IXzwAqAE2q5ke4Q7QZkuiiv8fvXBkz5ELULfDd8riSs6GLh48z6Ue/fSqajamN1P1ajpH095P0D6WdG5QagAOk67bcx1+5r2mVm96rXpmRPNhsMzUbBgqf0LB8sWSlGPlKbp9gku3L1EAcytv6s3KnNk8C7STFm/YIn/Y14RT5LaciP9bv6UMlLD8vPvAAAAAAElFTkSuQmCC"/>
							</svg>
						</a>
					</li>
					<li class="social-btn">
						<a href="#" class="social-icon vk-icon">
							<span class="visually-hidden">vk</span>
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="26" height="15" viewBox="0 0 26 15">
								  <metadata><?xpacket begin="﻿" id="W5M0MpCehiHzreSzNTczkc9d"?>
								<x:xmpmeta xmlns:x="adobe:ns:meta/" x:xmptk="Adobe XMP Core 5.6-c138 79.159824, 2016/09/14-01:09:01        ">
								   <rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
								      <rdf:Description rdf:about=""/>
								   </rdf:RDF>
								</x:xmpmeta>
								<?xpacket end="w"?></metadata>
								<image id="vk-icon" width="26" height="15" xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAPCAQAAABQWBdtAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfhDAsALQ+zqE/5AAABF0lEQVQoz42QIUuDYRSFn09YEUEGgggyMGgWhoJFJyqIYDAbRLAMTCaT2WITtKnBPsEfoBYxCKYFy5qKQaa4wcbmY9j2+e4Lc6edw33Ofe8bucw4ADWuoio4xRkzpIAGD6xFXwBGLDEEwCBvWLGjEwCHPfBP8wDgRpDV8Tg2FUdarb7HWa4N3QbQJWasx/awPfLUDZkLkKoTgKfBrkwCyoID3gdQvtUb7ioAWIz9NLgbIAUj2s85CptM+R27dbNWY1cyTUemg9ObPgYVL8Hv/jhHKLf8X890y8jrPrCdJDbqax9YPonNBid39OGFzd7bFv1MQPvgZlfScCGJTXrXNbIK4F7PDwFwxXOLli1bcqydbccX17z5Bb45CoW7amS6AAAAAElFTkSuQmCC"/>
								</svg>
						</a>
					</li>
					<li class="social-btn">
						<a href="#" class="social-icon fb-icon">
							<span class="visually-hidden">facebook</span>
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="12" height="22" viewBox="0 0 12 22">
							  <metadata><?xpacket begin="﻿" id="W5M0MpCehiHzreSzNTczkc9d"?>
							<x:xmpmeta xmlns:x="adobe:ns:meta/" x:xmptk="Adobe XMP Core 5.6-c138 79.159824, 2016/09/14-01:09:01        ">
							   <rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
							      <rdf:Description rdf:about=""/>
							   </rdf:RDF>
							</x:xmpmeta>
							<?xpacket end="w"?></metadata>
							<image id="fb-icon" width="12" height="22" xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAWCAQAAABeMbWRAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfhDAsAICXdvfhiAAAAVElEQVQoz2NggIP/Bv93/v/1HwqQhb/9RwIIiZ3/UQAjXOIXAysDEoBK/Gdk+AcVUWD4iKyAAW6GAITPxIAD4JRgRHIYcTrIsQPqPIb3NPPH4JQAAMxOR+EfSfRoAAAAAElFTkSuQmCC"/>
							</svg>
						</a>
					</li>
				</ul>
			</div>
			<p class="footer-copyrigths">Copyrigths © 2018 Python School Crafted lovingly in Saints-Petersburg, Russia.</p>
		</div>
	</footer>
	<div class="line-bottom"></div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ace.js" type="text/javascript" charset="utf-8"></script>
	<script>
		var editor = ace.edit("editor"); // теперь обращаться к редактору будем через editor
		var code = '';
		var hiddenInput = document.querySelector('#hidden-input');
		editor.setOptions({
		  fontSize: "14pt"
		});
		editor.getSession().on('change', function(){
			 code = editor.getSession().getValue();
			 hiddenInput.value = code;
		});
		editor.setTheme("ace/theme/katzenmilch");// Далее весь экшон будет проходить тут!
		editor.getSession().setMode("ace/mode/javascript");
	</script>
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ace.js" type="text/javascript" charset="utf-8"></script>
	<script>
        var editor = ace.edit("code-user-id");
        editor.setTheme("ace/theme/chrome");
        var textarea = $('textarea[name="userCodeReq"]').hide();
        textarea.val(editor.getSession().getValue());
        editor.getSession().setMode("ace/mode/javascript");
    </script> -->
</body>
</html>
